# zsh
.zcompdump*
.zsh_plugins.zsh

# specific config dirs
.config/composer
.config/configstore
.config/dlv
.config/gh/hosts.yml
.config/go
.config/helm
.config/ngrok/ngrok.yml
.config/TabNine
.config/wslu
.config/vscode-sqltools

# neovim
lazy-lock.json
mason-lock.json

# vscode
.vscode/

# cache
__pycache__

# others
archives
data
debug
doc/tags
secrets
foo
foo.*
*.backup
*.bak
*.db
*.lock
*.log
*.temp
*.tmp
