# zsh
.zcompdump*
.zsh_plugins.zsh

# specific config dirs
.config/composer
.config/configstore
.config/gh/hosts.yml
.config/go
.config/helm
.config/ngrok/ngrok.yml
.config/TabNine
.config/wslu

# neovim
lazy-lock.json
mason-lock.json

# others
archives
data
debug
doc/tags
secrets
foo
foo.*
*.bak
*.backup
*.tmp
*.temp
*.log
