# zsh
.zcompdump*
.zsh_plugins.zsh

# files has tokens
.config/composer
.config/configstore
.config/gh/hosts.yml
.config/go
.config/ngrok/ngrok.yml
.config/TabNine
.config/wslu

# backup files
*.bak

# lock files
*.lock
